# dependencies
node_modules/
**/node_modules/

# secrets / env
.env
.env.local
.env.*.local

# next.js build output
.next/
out/
next-env.d.ts

# vercel
.vercel/

# logs / misc
*.log
npm-debug.log*
.DS_Store
.qodo/
